<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsn.materialdesigui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".themestyle.MDThemeStyleActivity" />
        <activity android:name=".recyclerview.MDRecyclerViewActivity" />
        <activity android:name=".recyclerview1.MDRecyclerViewActivity1" />
        <activity android:name=".recyclerview2.MDRecyclerViewActivity2" />
        <activity android:name=".recyclerview3.MDRecyclerViewActivity3" />
        <activity android:name=".recyclerview4.MDRecyclerViewActivity4" />
        <activity android:name=".slidingmenu.DrawerLayoutActivity" />
        <activity android:name=".navigationview.NavigationViewActivity" />
        <activity android:name=".navigationview.SnackbarActivity" />
        <activity android:name=".TextInputLayout.TextInputLayoutActivity" />
        <activity android:name=".Toolbar_searchview.ToolbarActivity" />
        <activity android:name=".Toolbar_searchview.SearchViewActivity" />
        <activity android:name=".palette.PaletteActivity" />
        <activity android:name=".palette.ScrollToolbarActivity" />
        <activity android:name=".tablelayout.TabLayoutActivity" />
        <activity android:name=".tablelayout.bottomNavigationBarActivity" />
        <activity android:name=".immersivedesign.DesignActivity" />
        <activity android:name=".immersivedesign.DesignActivity1" />
        <activity android:name=".immersivedesign.DesignActivity2" />
        <activity android:name=".immersivedesign.DesignActivity3" />
        <activity android:name=".CardView.CardViewActivity" />
        <activity android:name=".CardView.FabActivity" />
        <activity android:name=".fab.demo1.BehaviorActivity" />
        <activity android:name=".fab.demo2.BehaviorActivity2"></activity>
    </application>

</manifest>